In [7]:
test = (lambda x: x *x )

test(4)

16

In [10]:
min([(lambda x: x *x )(x) for x in [1, 2, -5, 4]])

1

In [2]:
lst = [1, 2, -5, 4]

def square(x):
    return x * x

list(map(square, lst))

[1, 4, 25, 16]

In [3]:
[square(num) for num in lst]

[1, 4, 25, 16]

In [6]:
def is_odd(x):
    return x % 2 == 1

list(filter(is_odd, lst))

[1, -5]

In [7]:
[num for num in lst if is_odd(num)]

[1, -5]

In [8]:
max(lst, key=lambda x: x * x)

-5

In [12]:
[(lambda x: x % 2 == 1)(num) for num in lst]

[True, False, True, False]

In [ ]:
names = ['Jerry', 'Kramer', 'Elaine', 'George', 'Newman']

[(i,name) for i, name in enumerate(names)]

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

[fruit for fruit in fruits if "a" in fruit]

In [ ]:
# Cube of all numbers in a list starting from 1 to 10

[i**3 for i in range(1,11)]

In [ ]:
# All names in the list in lowercase
names = ['Jerry', 'Kramer', 'Elaine', 'George', 'Newman']
[i.lower() for i in names]

In [11]:
# All the odd numbers of a list starting from 2 to 12

[i for i in range(2, 13) if i % 2 == 0]

[2, 4, 6, 8, 10, 12]

In [13]:

my_list = [[1,2],[3,4],[5,6],[7,8]]

final_list = []
for i in my_list:
    for j in i:
        final_list.append(j)

[j for i in my_list for j in i ]

[1, 2, 3, 4, 5, 6, 7, 8]